* {
    background-color: lightsalmon;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#webgl {
    padding-left: 20px;
}

#instructions {
    padding-left: 20px;
    padding-top: 20px;
}